In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# !pip install fuzzywuzzy
# !pip install python-Levenshtein
# !pip install -U pip setuptools wheel
# !pip install -U spacy
# !python -m spacy download en_core_web_md

import pandas as pd
import numpy as np
from datetime import datetime
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from gensim.parsing.preprocessing import STOPWORDS
from fuzzywuzzy import process
import en_core_web_md
from sklearn.metrics.pairwise import cosine_similarity

start = datetime.now()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
# read outfit file
outfit = pd.read_csv('https://dso-560-nlp-text-analytics.s3.amazonaws.com/outfit_combinations.csv')
outfit

                       outfit_id  ...                         product_full_name
0     01DDBHC62ES5K80P0KYJ56AM2T  ...                           Slim Knit Skirt
1     01DDBHC62ES5K80P0KYJ56AM2T  ...                        Rib Mock Neck Tank
2     01DDBHC62ES5K80P0KYJ56AM2T  ...            medium margaux leather satchel
3     01DDBHC62ES5K80P0KYJ56AM2T  ...                 Penelope Mid Cap Toe Pump
4     01DMHCX50CFX5YNG99F3Y65GQW  ...                           Slim Knit Skirt
...                          ...  ...                                       ...
5286  01E6MC52DNZE5AZ9MPZ2CYCXW9  ...  65mm Gradient Oversize Square Sunglasses
5287  01E6MC52DPCTAAQVYNSKA7PER7  ...               Fenimore Triple Buckle Boot
5288  01E6MC52DPCTAAQVYNSKA7PER7  ...                              Pamela Dress
5289  01E6MC52DPCTAAQVYNSKA7PER7  ...              Leather Circle Crossbody Bag
5290  01E6MC52DPCTAAQVYNSKA7PER7  ...  65mm Gradient Oversize Square Sunglasses

[5291 rows x 5 columns]

In [4]:
outfit.outfit_item_type.value_counts()

shoe          1149
accessory1    1064
accessory2     978
top            950
bottom         928
onepiece       221
accessory3       1
Name: outfit_item_type, dtype: int64

In [5]:
# replace accessory1/2/3 with accessory
outfit['outfit_item_type'] = outfit.outfit_item_type.str.replace(r'(accessory\d)', r'accessory')

In [6]:
# read full data file
full_data = pd.read_csv('https://dso-560-nlp-text-analytics.s3.amazonaws.com/Full+data.csv')
full_data

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                       product_id  ... Unnamed: 255
0      01DSRPSZTDW2PGK1YWYXJGKZZ0  ...          NaN
1      01DSQXJBX0R7DCW7KTAC1SW547  ...          NaN
2      01DPGV8TGRAB993PF7Z3YWG2VR  ...          NaN
3      01DSR8G3F7DBRTMP8THF97XSQ2  ...          NaN
4      01DSR8G5GP519DEDCSKBMWQVK5  ...          NaN
...                           ...  ...          ...
42368  01DT5110V2ME7BY3JPCAJ91QRW  ...          NaN
42369  01DV6M2FXMPW9RSZWSXW1EK75W  ...          NaN
42370  01DV71D0XMBM4VVJK54F2HD3ZG  ...          NaN
42371  01DV72R28K2A1AN5G167S6QRWF  ...          NaN
42372  01DSNZTZNH0NG60JWJ07KPQ465  ...          NaN

[42373 rows x 256 columns]

In [7]:
# perform inner join
combined = pd.merge(outfit, full_data[['product_id', 'description']], on='product_id')
combined

                       outfit_id  ...                                        description
0     01DDBHC62ES5K80P0KYJ56AM2T  ...                                       A nice skirt
1     01DMHCX50CFX5YNG99F3Y65GQW  ...                                       A nice skirt
2     01DDBHC62ES5K80P0KYJ56AM2T  ...                                        A nice tank
3     01DMHCX50CFX5YNG99F3Y65GQW  ...                                        A nice tank
4     01DDBHC62ES5K80P0KYJ56AM2T  ...                                         A nice bag
...                          ...  ...                                                ...
4776  01E6M4W99KF80RD4N7FFCW87SM  ...  Tailored in a leg-lengthening silhouette, Vinc...
4777  01E6M4W99M1NSW0CJS736M1EJ6  ...  Tailored in a leg-lengthening silhouette, Vinc...
4778  01E6M4W99M8GRP5ZXJ3FT1903G  ...  Tailored in a leg-lengthening silhouette, Vinc...
4779  01E6M4W99MK8AHY989Y9Z99AQ8  ...  Tailored in a leg-lengthening silhouette, Vinc...
4780  01E6M4W99NZZ3DQ82FDWFHHH0J  ...  Tailored in a leg-lengthening silhouette, Vinc...

[4781 rows x 6 columns]

In [8]:
combined.isna().sum()

outfit_id              0
product_id             0
outfit_item_type       0
brand                  0
product_full_name      0
description          141
dtype: int64

In [9]:
combined.fillna('', inplace=True)

In [10]:
# lower-case the columns
col = ['outfit_item_type', 'brand', 'product_full_name', 'description'] 
for columns in col:
    combined[columns] = combined[columns].str.lower() 
combined.sort_values(by='outfit_id', inplace=True)
combined.reset_index(drop=True, inplace=True)

In [11]:
# define stopwords
stopwords_gensim = list(STOPWORDS)
stopwords_NLTK = list(stopwords.words("english"))
stopwords_combined = list(set(stopwords_gensim + stopwords_NLTK))
negatives = ['not','nor','no','neither', 'never', 'bottom', 'top'] # took out the negative words for a more accurate analysis
stopwords_combined = list(filter(lambda x: x not in negatives, stopwords_combined))
stopwords_combined.sort()
stopwords_expression = '|'.join(stopwords_combined)
stopwords_pattern = f'({stopwords_expression})'

In [12]:
# define stemming function
def stem_text(text):
    porter = PorterStemmer()
    tokens = text.split()
    stemmed_tokens = [porter.stem(token) for token in tokens]
    return ' '.join(stemmed_tokens)

In [13]:
# combine features
combined['text_combined'] = combined['brand'] + ' ' + combined['product_full_name'] + ' ' + combined['description']

In [14]:
# clean, stem and remove stopwords from the text_combined
combined['text_combined'] = combined['text_combined'].astype(str)
combined['text_combined'] = combined['text_combined'].str.replace(r'[^\w\s]',' ')
combined['text_combined'] = combined['text_combined'].str.replace(rf'\b{stopwords_pattern}\b','')
combined['text_combined'] = combined['text_combined'].apply(stem_text)

In [15]:
combined

                       outfit_id  ...                                      text_combined
0     01DDBHC62ES5K80P0KYJ56AM2T  ...           eileen fisher slim knit skirt nice skirt
1     01DDBHC62ES5K80P0KYJ56AM2T  ...         eileen fisher rib mock neck tank nice tank
2     01DDBHC62ES5K80P0KYJ56AM2T  ...  kate spade new york medium margaux leather sat...
3     01DDBHC62ES5K80P0KYJ56AM2T  ...      tori burch penelop mid cap toe pump nice shoe
4     01DMHCX50CFX5YNG99F3Y65GQW  ...           eileen fisher slim knit skirt nice skirt
...                          ...  ...                                                ...
4776  01E6M4W99MWGJ4434JNRME31NB  ...  carri forb bou raffia heel mule past season mu...
4777  01E6M4W99NHRZGBVF7JJDEA4S7  ...  carri forb bou raffia heel mule past season mu...
4778  01E6M4W99NZZ3DQ82FDWFHHH0J  ...  carri forb bou raffia heel mule past season mu...
4779  01E6M4W99NZZ3DQ82FDWFHHH0J  ...  vinc belt crepe wide leg pant tailor leg lengt...
4780  01E6M4W9BPPC8PC30E8VZ0PNX2  ...  carri forb bou raffia heel mule past season mu...

[4781 rows x 7 columns]

In [16]:
# load medium-sized corpus of English documents from spacy
nlp = en_core_web_md.load()

In [17]:
# perform vectorization of text_combined using pre-trained word2vec embeddings
description = combined['text_combined'].astype(str).tolist()
description_vectors = []
for i in description:
    temp_description = nlp(i)
    description_vectors.append(temp_description.vector)
combined['doc2vec'] = description_vectors

In [18]:
def outfit_recommendation(outfit_type:str(), input_value:str(), isproductid=True):
    '''
    This function takes as an input three arguments:
    1) outfit_type: string; indicates type of the outfit that a user is looking for 
    (should be one of the following: ['bottom','top','accessory','shoe','onepiece'])
    2) input_value: string; represents the string (either product ID or free form text such as brand and description)
    for which the recommendations are returned
    3) isproductid: boolean; if True, input_value is considered a product ID; 
    else, input_value is treated as a free form text. By default is equal to 'True'
    
    For an input outfit, the function returns a dataframe with the product recommendations
    '''
    
    if isproductid: 
        # match info for the input product ID if there is an exact match
        if input_value in combined.product_id.unique():
            output = combined[combined.product_id==input_value]
        
        # find the closest product ID using fuzzy matching if the input product ID is misspelled/not found in data
        else:
            highestfuzz = process.extractOne(input_value, combined.product_id.values)
            output = combined[combined.product_id==highestfuzz[0]]

        print('The product with the closest product ID:\n')
        display(output.head(1).drop(columns=['text_combined','doc2vec']))
    
    else: 
        # clean, stem and remove stopwords from the input text
        input_clean = input_value.lower() 
        input_clean= re.sub(r'[^\w\s]', ' ', input_clean)
        input_clean = re.sub(rf'\b{stopwords_pattern}\b', '', input_clean)
        input_clean = stem_text(input_clean)

        # perform vectorization of the cleaned input and create an embedding matrix
        temp_input_clean = nlp(input_clean)
        temp_vectors = combined.loc[combined.outfit_item_type==outfit_type, 'doc2vec'].tolist()
        temp_text = combined.loc[combined.outfit_item_type==outfit_type, 'text_combined'].tolist()
        temp_vectors.append(temp_input_clean.vector)
        temp_text.append(input_clean)
        vector_df = pd.DataFrame(temp_vectors)
        vector_df.index = temp_text

        # calculate cosine similarity between two vectors
        similarities = pd.DataFrame(cosine_similarity(vector_df.values), columns=temp_text, index=temp_text)

        # find most similar vector to the input and retrieve the matched item
        top_similarities = similarities.unstack().reset_index().rename(columns={0:'score'})
        top_similarities = top_similarities.sort_values(by='score', ascending=False)
        top_similarities = top_similarities[top_similarities['score'] < 0.99999]
        match = top_similarities.loc[top_similarities['level_0']==input_clean, :].reset_index(drop = True)
        match_item = match.loc[0,'level_1']
        output = combined[combined.text_combined==match_item]

        print('The product with the closest matched description:\n')
        display(output.drop(columns=['text_combined','doc2vec']))
    
    # find all outfit combinations belonging to the same outfit ID 
    print('\nRecommendations for the identified product:')
    for id in output.outfit_id:
        print('\n')
        display(outfit[(outfit.outfit_id == id)&(outfit.product_id != output['product_id'].iloc[0])])

## Example 1 (Product ID, Exact Match)

In [19]:
outfit_recommendation('shoe', '01DMBRYVA2ZFDYRYY5TRQZJTBD')

The product with the closest product ID:

                    outfit_id  ...  description
3  01DDBHC62ES5K80P0KYJ56AM2T  ...  a nice shoe

[1 rows x 6 columns]

Recommendations for the identified product:

                    outfit_id  ...               product_full_name
0  01DDBHC62ES5K80P0KYJ56AM2T  ...                 Slim Knit Skirt
1  01DDBHC62ES5K80P0KYJ56AM2T  ...              Rib Mock Neck Tank
2  01DDBHC62ES5K80P0KYJ56AM2T  ...  medium margaux leather satchel

[3 rows x 5 columns]

                    outfit_id  ...   product_full_name
4  01DMHCX50CFX5YNG99F3Y65GQW  ...     Slim Knit Skirt
5  01DMHCX50CFX5YNG99F3Y65GQW  ...  Rib Mock Neck Tank
7  01DMHCX50CFX5YNG99F3Y65GQW  ...      Crystal Clutch

[3 rows x 5 columns]

                     outfit_id  ...    product_full_name
8   01DMHRX35M2DPVYVQ1PNER4S4B  ...  Chemelle Midi Dress
10  01DMHRX35M2DPVYVQ1PNER4S4B  ...       Crystal Clutch

[2 rows x 5 columns]

                     outfit_id  ...               product_full_name
11  01DMHRYZDTF2NBJ13ZEARKHA3T  ...             Chemelle Midi Dress
12  01DMHRYZDTF2NBJ13ZEARKHA3T  ...  medium margaux leather satchel

[2 rows x 5 columns]

## Example 2 (Product ID, Mismatch)

In [20]:
outfit_recommendation('shoe', '01DMBRYVA2ZFDYRYY5TRQZJTBA')

The product with the closest product ID:

                    outfit_id  ...  description
3  01DDBHC62ES5K80P0KYJ56AM2T  ...  a nice shoe

[1 rows x 6 columns]

Recommendations for the identified product:

                    outfit_id  ...               product_full_name
0  01DDBHC62ES5K80P0KYJ56AM2T  ...                 Slim Knit Skirt
1  01DDBHC62ES5K80P0KYJ56AM2T  ...              Rib Mock Neck Tank
2  01DDBHC62ES5K80P0KYJ56AM2T  ...  medium margaux leather satchel

[3 rows x 5 columns]

                    outfit_id  ...   product_full_name
4  01DMHCX50CFX5YNG99F3Y65GQW  ...     Slim Knit Skirt
5  01DMHCX50CFX5YNG99F3Y65GQW  ...  Rib Mock Neck Tank
7  01DMHCX50CFX5YNG99F3Y65GQW  ...      Crystal Clutch

[3 rows x 5 columns]

                     outfit_id  ...    product_full_name
8   01DMHRX35M2DPVYVQ1PNER4S4B  ...  Chemelle Midi Dress
10  01DMHRX35M2DPVYVQ1PNER4S4B  ...       Crystal Clutch

[2 rows x 5 columns]

                     outfit_id  ...               product_full_name
11  01DMHRYZDTF2NBJ13ZEARKHA3T  ...             Chemelle Midi Dress
12  01DMHRYZDTF2NBJ13ZEARKHA3T  ...  medium margaux leather satchel

[2 rows x 5 columns]

## Examples 3 and 4 (Product Description)

In [21]:
outfit_recommendation('bottom', 'Sexy silky, a-line mini skirt zipper Benson skirt', isproductid=False)

The product with the closest matched description:

                     outfit_id  ...                                        description
14  01DQ63P636Q4BQVCKT6Z4S41G5  ...  sexy silky. this is an a-line mini skirt with ...

[1 rows x 6 columns]

Recommendations for the identified product:

                     outfit_id  ...           product_full_name
14  01DQ63P636Q4BQVCKT6Z4S41G5  ...  Pointed-toe flats in suede
15  01DQ63P636Q4BQVCKT6Z4S41G5  ...              Ashlynn Blouse

[2 rows x 5 columns]

In [22]:
outfit_recommendation('bottom', 'slim fitting, straight leg pant with a center back zipper and slightly cropped leg', isproductid=False)

The product with the closest matched description:

                     outfit_id  ...                                        description
26  01DQ8ME3M3QS9MQGZCQHXDHE1R  ...  let your pants do the talking. this is a slim ...

[1 rows x 6 columns]

Recommendations for the identified product:

                     outfit_id  ...  product_full_name
24  01DQ8ME3M3QS9MQGZCQHXDHE1R  ...     Cassi Belt Bag
26  01DQ8ME3M3QS9MQGZCQHXDHE1R  ...       Jane Sweater
27  01DQ8ME3M3QS9MQGZCQHXDHE1R  ...  Giulia Satin Heel

[3 rows x 5 columns]

In [23]:
print(datetime.now()-start)

0:01:22.960930